<%- include('includes/header')%>
  <div class="container py-md-5 container--narrow">
    <%- include('includes/flash') %>

    <form action="/search" method="POST">
      <div class="form-group">
        <label for="book-" class="text-muted mb-1"><small>Type in here</small></label>
        <input required name="related" id="book-title"  class="form-control form-control-lg form-control-title" type="text" placeholder="" autocomplete="off">
      </div>
      <button class="btn btn-primary">Search</button>
    </form>
  </div>
  
<%- include('includes/footer') %>
