 .ql-toolbar.ql-snow {
     height: 25%;
 }

 .ql-container.ql-snow {
     overflow-y: auto;
     height: 75%;
 }

 #send {
     position: absolute;
     width: fit-content;
     right: 5px;
     bottom: 5px;
     border-radius: 10px;
     border: 1px solid #ccc;
 }

 form {
     position: relative;
 }