.form {
  border-top: 3px solid rgba(0, 0, 0, 0.3);
  display: flex;
  border-radius: 0 0 0 18px;
}

.input {
  border: none;
  border-radius: 0 0 0 18px;
  padding: 5%;
  margin: 0;
  width: 100%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}